**/node_modules
**/.next
**/dist
**/build
**/coverage
**/.turbo
**/.cache
**/.git
**/.env
**/.env.*
!**/.env.example
!**/.env-example
**/docs/contracts
**/tmp
**/.temp
**/.tmp
**/logs
**/*.log
**/.DS_Store
**/.vscode
**/.idea
Dockerfile
**/Dockerfile
.dockerignore
docker-compose*.yml
.git
.gitignore
README.md
**/README.md
