APP_PORT=3006

MONGODB_URI=mongodb://127.0.0.1:27017/easy-service

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=easy-service
JWT_ISSUER=easy-service
JWT_AUDIENCE=easy-service
